@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


*,*::after,*::before{
    font-family: "Sora", sans-serif;
}

.mainContainer{
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}